{
  "trailingComma": "all",
  "tabWidth": 2,
  "printWidth": 100,
  "plugins": ["prettier-plugin-tailwindcss"],
  "semi": false,
  "singleQuote": true,
  "useTabs": false,
  "arrowParens": "avoid",
  "bracketSpacing": true
}
